<%- if block.id == :'' then id = '(root block)' else id = block.id end -%>
<a name="<%=id%>"></a>
<h1>function <%= id %></h1>

<h2>variables</h2>
<table>
  <tr><th>id</th><th>type</th><th>address</th><th>value</th><th>opt</th><th>kind</th><th>live</th><th>reg</th></tr>
  <%- block.vars.each do |id,v| -%>
    <tr>
      <td><%= id %></td>
      </td><td><%= v.type %></td>
      </td><td><%= v.address and "0x%04x"%[v.address]  %></td>
      <td><%= if Lambda === v.val then '(lambda)' else  v.val end %></td>
      <td><%= v.opt %></td></p>
      <td><%= v.kind %></td></p>
      <td><%= v.lr %></td></p>
      <td><%= v.reg %></td></p>
  <%- end -%>
</table>

<h2>ast</h2>
<pre class="code"><%= PP.pp(block.ast,'') %></pre>

<h2>code</h2>
<pre class="code">
<%- block.ops.each_with_index do |op,i| -%>
<%= "<font color='#aaa'>%04d:</font> %-6s %s"%[i, op[0], op[1..-1].join(", ")] %>
<%- end %></pre>

<h2>code(optimized)</h2>
<pre class="code">
<%- if block.optimized_ops -%>
  <%- block.optimized_ops.each_with_index do |op,i| -%>
<%= "<font color='#aaa'>%04d:</font> %-6s %s"%[i, op[0], op[1..-1].join(", ")] %>
  <%- end %>
<%- end %></pre>

<h2>optimize diff</h2>
<pre class="code"><%= optimized_ops %></pre>

<h2>asm</h2>
<pre class="code">
<%- block.asm.each do |line| -%>
<%- if /^\s+;/ === line -%>
<font color="green"><%= line %></font>
<%- elsif /^[.\w]+:/ === line -%>
<font color="#88f"><%= line %></font>
<%- else -%>
<%= line %>
<%- end -%>
<%- end -%>
</pre>

<%- block.vars.each do |id,v| -%>
  <%- if v.type.type == :lambda and v.val -%>
    <div class="block">
      <%= block_to_html(v.val.block) %>
    </div>
  <%- end -%>
<%- end -%>
